{% extends "layout.html" %}

{% block content %}

<div class="card">
    <h2>Create Ticket</h2>

    <form method="POST">
        <input name="title" placeholder="Title" required>

        <textarea name="description" placeholder="Description" required></textarea>

        <label>Category:</label>
        <select name="category" required>
            {% for c in categories %}
            <option value="{{ c.category_id }}">{{ c.category_label }}</option>
            {% endfor %}
        </select>

        <button>Submit</button>
    </form>
</div>

{% endblock %}