<!DOCTYPE html>
<html>
<head>
    <title>Helpdesk</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar">
    <div class="nav-left">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Company Logo">
    </div>

    <div class="nav-right">
        <a href="/">Home</a>
        <a href="/tickets">Tickets</a>
        <a href="/create">Create</a>
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </div>
</nav>

<div class="container">

    {% if session.name %}
    <p class="user-info">
        Logged in as <b>{{ session.name }}</b> ({{ session.role }})
    </p>
    {% endif %}

    {% block content %}{% endblock %}

</div>

<footer class="footer">
    <p>© 2026 JYM Helpdesk • Built for efficiency</p>
</footer>

</body>
</html>