{% extends "layout.html" %}

{% block content %}
<h2>Tickets</h2>

<div class="card">
    <h3>Filter Tickets</h3>

    <form method="GET">
        <select name="status">
            <option value="">All Status</option>
            {% for s in statuses %}
                <option value="{{ s.status_label }}"
                {% if request.args.get('status') == s.status_label %}selected{% endif %}>
                {{ s.status_label }}
                </option>
            {% endfor %}
        </select>

        <select name="priority">
            <option value="">All Priority</option>
            {% for p in priorities %}
                <option value="{{ p.priority_level }}"
                {% if request.args.get('priority') == p.priority_level %}selected{% endif %}>
                {{ p.priority_level }}
                </option>
            {% endfor %}
        </select>

        <select name="category">
            <option value="">All Category</option>
            {% for c in categories %}
                <option value="{{ c.category_label }}"
                {% if request.args.get('category') == c.category_label %}selected{% endif %}>
                {{ c.category_label }}
                </option>
            {% endfor %}
        </select>

        <button type="submit">Filter</button>
    </form>
</div>

{% for ticket in tickets %}
<div class="card">

    <h3>{{ ticket.title }}</h3>
    <p>{{ ticket.description }}</p>

    <p><b>User:</b> {{ ticket.full_name }}</p>

    <p><b>Status:</b> 
        <span class="
        {% if ticket.status_label == 'Open' %}status-open{% else %}status-closed{% endif %}
        ">
        {{ ticket.status_label }}
        </span>
    </p>

    <p><b>Priority:</b> {{ ticket.priority_level }}</p>
    <p><b>Category:</b> {{ ticket.category_label or "None" }}</p>

    <p>
        <a href="/update/{{ ticket.ticket_id }}">Update</a> |
        <a href="/delete/{{ ticket.ticket_id }}">Delete</a>
    </p>

    <h4>Comments:</h4>

    {% if ticket.comments %}
        {% for c in ticket.comments %}
            <p><b>{{ c.full_name }}:</b> {{ c.text }}</p>
        {% endfor %}
    {% else %}
        <p>No comments yet.</p>
    {% endif %}

    {% if session.role == "admin" %}
    <form method="POST" action="/comment/{{ ticket.ticket_id }}">
        <input name="text" placeholder="Add comment" required>
        <button type="submit">Comment</button>
    </form>
    {% endif %}

</div>
{% endfor %}

{% endblock %}