{% extends "layout.html" %}

{% block content %}
<h1>All Tickets</h1>

{% for ticket in tickets %}
<div style="border:1px solid gray; padding:10px; margin:10px;">
    <h3>{{ ticket.title }}</h3>
    <p>{{ ticket.description }}</p>

    <p><b>User:</b> {{ ticket.full_name }}</p>
    <p><b>Status:</b> {{ ticket.status_label }}</p>
    <p><b>Priority:</b> {{ ticket.priority_level }}</p>

    <a href="/update/{{ ticket.ticket_id }}">Update</a> |
    <a href="/delete/{{ ticket.ticket_id }}">Delete</a>
</div>
{% endfor %}

{% endblock %}