{% extends "layout.html" %}

{% block content %}
<h2>Update Ticket</h2>

<form method="POST">

<select name="status">
{% for s in statuses %}
<option value="{{ s.status_id }}"
{% if s.status_id == ticket.status_id %}selected{% endif %}>
{{ s.status_label }}
</option>
{% endfor %}
</select>

<select name="priority">
{% for p in priorities %}
<option value="{{ p.priority_id }}"
{% if p.priority_id == ticket.priority_id %}selected{% endif %}>
{{ p.priority_level }}
</option>
{% endfor %}
</select>

<br><br>
<button>Update</button>

</form>

{% endblock %}